<!-- Botão flutuante do menu -->
<div class="floating-menu-pill" id="openMenuModal">
    <button class="btn menu" type="button" tabindex="0">
        <i class="fa-solid fa-bars"></i>
    </button>
    <span class="floating-menu-pill-text">Menu</span>
</div>
