<!-- Preloader -->
<div id="preloader" class="preloader">
    <div class="preloader-content">
        <!-- <div class="preloader-logo">
            <span class="logo-text">Eduardo Salarini</span>
        </div> -->
        <!-- <div class="preloader-spinner">
            <div class="spinner-ring">
                <div class="spinner-circle"></div>
                <div class="spinner-circle"></div>
                <div class="spinner-circle"></div>
                <div class="spinner-circle"></div>
            </div>
        </div> -->
        <div class="preloader-text">Carregando</div>
        <div class="preloader-particles">
            <canvas id="preloader-canvas" class="preloader-canvas"></canvas>
        </div>
    </div>
</div>
