<!-- Preloader -->
<div id="preloader" class="preloader">
    <div class="preloader-content">
        <div class="preloader-logo">
            <!-- <span class="prosto-one-regular">Eduardo Salarini</span> -->
        </div>
        <div class="preloader-particles">
            <canvas id="preloader-canvas" class="preloader-canvas"></canvas>
        </div>
        <div class="preloader-text">Carregando...</div>
    </div>
</div>
