<!-- Social Links -->
<div class="<%= locals.socialClass || 'hero-social mt-4' %>">
    <a href="https://github.com/salarini-e" target="_blank" class="<%= locals.socialLinkClass || 'social-icon' %>">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/eduardo-salarini-1b5a272a2/" target="_blank" class="<%= locals.socialLinkClass || 'social-icon' %>">
        <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://lattes.cnpq.br/" target="_blank" class="<%= locals.socialLinkClass || 'social-icon' %>">
        <i class="fa-solid fa-graduation-cap"></i>
    </a>
</div>
