/* Corpo do texto */
body {
    font-family: 'Roboto', sans-serif; /* Ou substitua por Open Sans, Lato, etc. */
}

h1, h2, .highlight {
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Poppins', sans-serif;
    color: #ffc55a;
}

/* Para áreas criativas ou informais */
h3, .creative-section {
    font-family: 'Cabin Sketch', cursive; /* Estilo desenhado à mão */
}

h4{
    color: #ffe1a9;
    font-size: 30px;
}
.prosto-one-regular {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
  }
  
/* Nome ou áreas de destaque */
.name-highlight {
    font-family: 'Bebas Neue', sans-serif; /* Para seções marcantes */
}

/* Botões */
header button {
    font-family: 'Montserrat', sans-serif; /* Fontes geométricas para botões */
    color: rgb(0, 0, 0) !important;
    border: 1px solid #000000 !important;
    background-color: #ffdd98   !important;
    border-radius: 100% !important;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Certifica que o body ocupa 100% da altura da janela */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #333;
    /* background-image: url('https://img.freepik.com/vetores-gratis/design-de-estilo-gradiente-minimalista-de-luxo-de-fundo_698780-716.jpg?t=st=1736015600~exp=1736019200~hmac=42e8e3a21432289c62da2b2bcd8554bf5353581d663f12af9a28e31b8eaaaa13&w=1380'); */
    /* background-image: url(''); */
    background-size: cover;
    background-position: center;

}
header{
    /* background-color: #000000; */
    background-size: cover;
    color: white;
    padding: 20px 20px !important;
    text-align: center;
}

header .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
}
header .avatar img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
nav h1{
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* margin: 20px; */
    /* width: 100%; */
}
nav a {
    margin: 0 30px 0 0;
    color: #ffffff;
    text-decoration: none;
}

.btn-outline-primary{
    color: #ffc55a;
    background-color: transparent;
    background-image: none;
    border-color: #ffc55a;
    border-radius: 18px;
}